<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<html>
<body>

<!--/*@thymesVar id="user" type="dailybook.hello.domain.User"*/-->

    <form action="#" th:action="@{/registration}" th:object="${user}" method="post">

        <div>
            <label for="inputPassword2">Username:</label>

            <input type="text" th:field="*{username}" id="inputPassword2"
                   placeholder="Enter your username"/>

            <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Login Error</small>
        </div>

        <div>
            <label for="inputPassword6">Password:</label>
            <input type="password" th:field="*{password}"  id="inputPassword6"
                   placeholder="Enter your password"/>
            <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</small>
        </div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>